<h2>Catalogo de productos</h2>
<button class="btn btn-info btn-sm" (click)="openCart()">show cart ({{items.length}})</button>
<div class="row">
    <div [className]="showCart? 'col-9' : 'col'">
        <catalog [products]="products" (productEventEmitter)="onAddCart($event)"/>
    </div>
    @if (showCart) {
        <div class="col-3">
            <button class="btn btn-danger btn-sm float-end" (click)="openCart()">x</button>
            @if (items.length > 0) {
                <cart 
                [items]="items"
                [total]="total"  
                (idProductEmiter)="onDeleteCart($event)"/>
            }@else {
                <div class="alert alert-warning">No hay elementos en el carro!!</div>
            }
        </div>
    }
</div>